<!DOCTYPE html>
<html>
  <%- include("partials/head"); %>
  <body>
    <%- include("partials/navbar") %>
    <div class="container mt-3 w-75">
      <h1 class="text-center">Selamat Datang di <%= title %></h1>
    </div>
  </body>
</html>
